[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]
<thesaurus thesaurus-name="rubriquage">
    <thesaurus-metadata>
        <intitule-thesaurus>
            <lib xml:lang="fr">Rubriques</lib>
            <lib xml:lang="en">Sections</lib>
            <lib xml:lang="es">Secciones</lib>
        </intitule-thesaurus>
    </thesaurus-metadata>
<BOUCLE_export(EXPORTSCRUTARI){id_exportscrutari}>
        #SET{tab_corpus,#ARRAY{}}<BOUCLE_tab_corpus(spip_exportscrutari_liens){id_exportscrutari}{objet=corpus}>[(#SET{tab_corpus,[(#GET{tab_corpus}|push{#ID_OBJET})]})]</BOUCLE_tab_corpus>
    <BOUCLE_corpus(DATA){source tableau, #GET{tab_corpus}}>
        <BOUCLE_rubriques(RUBRIQUES){id_corpus=#VALEUR}{doublons}>
        <motcle motcle-id="#ID_RUBRIQUE">
            <BOUCLE_intitule_mot(DATA){source tableau, #TITRE*|extraire_trads}{si #TITRE*==<multi>}>[
			<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
			]</BOUCLE_intitule_mot>
			<lib xml:lang="#LANG">[(#TITRE|texte_backend)]</lib>
			<//B_intitule_mot>
			[<attr ns="sct" key="parent"><val>(#ID_PARENT|>{0}|?{#ID_PARENT,''})</val></attr>]
			<B_sousrubriques>
			<attr ns="sct" key="children">
			<BOUCLE_sousrubriques(RUBRIQUES){id_parent}>
                <val>#ID_RUBRIQUE</val>
			</BOUCLE_sousrubriques>
			</attr>
			</B_sousrubriques>
        </motcle>
        </BOUCLE_rubriques>
        </BOUCLE_corpus>
</BOUCLE_export>
</thesaurus>
