<BOUCLE_fiches(ARTICLES){id_rubrique}>
    [(#REM) <INCLURE{fond=scrutari_export_fiche, id_article} />]
    <fiche fiche-id="#ID_ARTICLE">
        <titre>[(#TITRE|supprimer_numero|texte_backend)]</titre>
        [<soustitre>(#DESCRIPTIF|supprimer_tags|texte_backend)</soustitre>]
        [<date>(#DATE|affdate{'Y-m-d'})</date>]
        <lang>#LANG</lang>
        <href>https://www.bilaterals.org/[(#URL_ARTICLE)]</href>
        <attr ns="bl" key="text">
            [(#TEXTE|textebrut|scrutariexport_attr)]
        </attr>
        <BOUCLE_thumb_fb(DOCUMENTS){id_article=#ID_ARTICLE}{extension==jpg|png|gif}{0,1}>
        [<attr ns="sct" key="thumbnail"><val>https://www.bilaterals.org/(#LOGO_DOCUMENT|image_passe_partout{200,200}|image_recadre{200,200}|extraire_attribut{src})</val></attr>]
        </BOUCLE_thumb_fb>
    </fiche>
</BOUCLE_fiches>
<!-- Vide -->
<//B_fiches>
