[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<BOUCLE_mots_indexation(DATA){source tableau, #ENV{tab_id_mot}}><BOUCLE_rubriques_indexation(RUBRIQUES){id_corpus}><BOUCLE_indexation(ARTICLES){id_mot=#VALEUR}{id_rubrique}>
	<BOUCLE_article_exclu_indexation(EXPORTSCRUTARI_ARTICLES_EXCLUS){id_article}{id_exportscrutari}> </BOUCLE_article_exclu_indexation><indexation fiche-id='#ID_ARTICLE' motcle-id='#VALEUR'/><//B_article_exclu_indexation></BOUCLE_indexation></BOUCLE_rubriques_indexation></BOUCLE_mots_indexation>
