[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<BOUCLE_corpus(CORPUS){id_corpus}>
	<corpus corpus-name="#NAME">
		<corpus-metadata>
			<intitule-corpus>
				<BOUCLE_intitule_corpus(DATA){source tableau, #INTITULE_CORPUS|extraire_trads}{si #INTITULE_CORPUS==<multi>}>[
				<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
				]</BOUCLE_intitule_corpus>
				<lib xml:lang="#LANG">[(#INTITULE_CORPUS|texte_backend)]</lib>
				<//B_intitule_corpus>
			</intitule-corpus>
			<intitule-fiche>
				<BOUCLE_intitule_fiche(DATA){source tableau, #INTITULE_FICHE|extraire_trads}{si #INTITULE_FICHE==<multi>}>[
				<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
				]</BOUCLE_intitule_fiche>
				<lib xml:lang="#LANG">[(#INTITULE_FICHE|texte_backend)]</lib>
				<//B_intitule_fiche>
			</intitule-fiche>
		</corpus-metadata>
</BOUCLE_corpus>
