[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<BOUCLE_corpus(CORPUS){id_corpus}>
<indexation-group corpus-path="#NAME" thesaurus-path="rubriquage">
<BOUCLE_rubriques(RUBRIQUES){id_corpus=#ID_CORPUS}>
    <BOUCLE_fiches(ARTICLES){id_rubrique}><indexation fiche-id='#ID_ARTICLE' motcle-id='#ID_RUBRIQUE'/></BOUCLE_fiches>
</BOUCLE_rubriques>
</indexation-group>
</BOUCLE_corpus>
