[(#REM)
/**
 * Plugin Scrutari Export
 * Licence GPL (c) 2011 Coredem
 *
 */
]
[
<div class="formulaire_spip formulaire_editer formulaire_affecter_statut_scrutari" id="formulaire_affecter_statut_scrutari-#ID_ARTICLE">
	<!-- <br class='bugajaxie' /> -->
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
            [(#REM) declarer les hidden qui declencheront le service du formulaire parametre : url d'action ]
            #ACTION_FORMULAIRE{#ENV{action}}
            <input name='id_article' value='#ID_ARTICLE' type='hidden' />
            <ul> 
                <li class="editer editer_statut_scrutari[ (#ENV**{erreurs}|table_valeur{statut_scrutari}|oui)erreur]">
					<label><:scrutariexport:statut_scrutari:></label>
                    [<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{statut_scrutari})</span>]

					<INCLURE{fond=formulaires/inc-select_export}{env}>
                    
                </li>
            </ul>
            <p class='boutons'><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
</div>
]
