<div class="formulaire_spip formulaire_editer formulaire_editer_zone formulaire_editer_thesaurus-#ENV{id_corpus,nouveau}">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
		<input type='hidden' name='id_thesaurus' value='#ID_THESAURUS' />
	  	<ul>
	    	<li class="editer_name obligatoire[ (#ENV**{erreurs}|table_valeur{name}|oui)erreur]">
	    		<label for="name"><:scrutariexport:nom_technique:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{name})</span>]
				<input type='text' class='text' name='name' id='name' value="#ENV{name}" />
	    	</li>
		
		    <li class="editer_intitule_thesaurus obligatoire[ (#ENV**{erreurs}|table_valeur{intitule_thesaurus}|oui)erreur]">
		    	<label for="intitule_thesaurus"><:scrutariexport:intitule_thesaurus:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{intitule_thesaurus})</span>]
				<input type='text' class='text' name='intitule_thesaurus' id='intitule_thesaurus' value="#ENV{intitule_thesaurus}" />
		    </li>
		
		  	<li class='editer_groupes fieldset'><fieldset><legend><:scrutariexport:groupes_du_thesaurus:></legend>
		  		[(#INCLURE{fond=formulaires/inc-select_groupes}{groupes=#ENV{groupes}})]</fieldset>
		  	</li>
	  </ul>
	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class='boutons'><input type='submit' class='submit' value='[(#ENV{id_thesaurus}|?{<:bouton_enregistrer:>,<:bouton_ajouter:>})]' /></p>
	</div></form>
	]
</div>