[(#REM)
/**
 * Plugin Scrutari Export
 * Licence GPL (c) 2011 Coredem
 *
 */
]<B_corpus>
<select[ name='(#ENV{name})'][ id='(#ENV{id})'] size='1'>
<option value='x'><:scrutariexport:selectionner_un_corpus:></option>
<BOUCLE_corpus(CORPUS){!id_rubrique=#ID_RUBRIQUE}>[
(#AUTORISER{affectercorpus,rubrique,#ID_RUBRIQUE,'',#ARRAY{id_corpus,#ID_CORPUS}}|oui)<option value='#ID_CORPUS'>[(#INTITULE_CORPUS|typo)]</option>
]</BOUCLE_corpus>
</select>
</B_corpus>