<B_thesaurus>
<ul>
<BOUCLE_thesaurus(THESAURUS){par name}>
	<li[(#ID_THESAURUS|in_any{#ENV{thesaurus}})class='checked']>
		<div class='choix'>
			<input type='checkbox' name='thesaurus[]' value='#ID_THESAURUS' id='thes#ID_THESAURUS' [(#ID_THESAURUS|in_any{#ENV{thesaurus}})checked='checked']/>
			<label for='thes#ID_THESAURUS'>#INTITULE_THESAURUS</label>
		</div>
	</li>
</BOUCLE_thesaurus>
</ul>
</B_thesaurus>