<B_corpus>
<ul>
<BOUCLE_corpus(CORPUS){par name}>
	<li[(#ID_CORPUS|in_any{#ENV{corpus}})class='checked']>
		<div class='choix'>
			<input type='checkbox' name='corpus[]' value='#ID_CORPUS' id='corp#ID_CORPUS' [(#ID_CORPUS|in_any{#ENV{corpus}})checked='checked']/>
			<label for='corp#ID_CORPUS'>#INTITULE_CORPUS</label>
		</div>
	</li>
</BOUCLE_corpus>
</ul>
</B_corpus>