<BOUCLE_export(EXPORTSCRUTARI){par intitule_short}>
	<div class="choix">
	    <input type="checkbox" class="checkbox" name="exports[]" value="#ID_EXPORTSCRUTARI" id="export_#ID_EXPORTSCRUTARI"[(#ID_EXPORTSCRUTARI|in_any{#ENV{exports}}|?{'checked="checked"',''})] />
		<label for='export_#ID_EXPORTSCRUTARI'><:scrutariexport:exclure_de_l_export:>#INTITULE_LONG</label>
	</div>
</BOUCLE_export>
