[(#REM)
/**
 * Plugin Scrutari Export
 * Licence GPL (c) 2011 Coredem
 *
 */
]
<BOUCLE_article(ARTICLES){id_article}>
<BOUCLE_test_corpus(CORPUS){id_rubrique}>
</BOUCLE_test_corpus>
<div class='ajax'>
	#FORMULAIRE_AFFECTER_STATUT_SCRUTARI{#ID_ARTICLE}
</div>
</B_test_corpus>
</BOUCLE_article>
