[(#AUTORISER{administrer,scrutariexport,#ID_EXPORTSCRUTARI}|sinon_interdire_acces)]

#SET{retour,#ENV{redirect}|sinon{#ENV{id_exportscrutari}|?{#URL_ECRIRE{scrutari_exports,id_exportscrutari=#ID_EXPORTSCRUTARI},#URL_ECRIRE{scrutari_exports}}}}
<div class='cadre-formulaire-editer'>
	<div class="entete-formulaire">
		[(#GET{retour}|icone_verticale{<:icone_retour:>,scrutari_export,'',left retour[(#ENV{retourajax,''}|oui)ajax preload]})]
		[[(#VAL{scrutari_export}|objet_info{texte_modifier}|_T)]
		<h1>(#ENV{intitule_long,#INFO_TITRE{exportscrutari,#ID_EXPORTSCRUTARI}|sinon{<:info_sans_titre:>}})</h1>]
	</div>

	#FORMULAIRE_EDITER_EXPORTSCRUTARI{#ENV{id_exportscrutari,oui},#GET{retour}}
</div>
