[(#AUTORISER{administrer,scrutariexport,#ID_EXPORTSCRUTARI}|sinon_interdire_acces)]

#SET{retour,#ENV{redirect}|sinon{#ENV{id_thesaurus}|?{#URL_ECRIRE{scrutari_export_thesaurus,id_thesaurus=#ID_THESAURUS},#URL_ECRIRE{scrutari_export_thesaurus}}}}
<div class='cadre-formulaire-editer'>
	<div class="entete-formulaire">
		[(#GET{retour}|icone_verticale{<:icone_retour:>,thesauruss,'',left retour[(#ENV{retourajax,''}|oui)ajax preload]})]
		[[(#VAL{thesaurus}|objet_info{texte_modifier}|_T)]
		<h1>(#ENV{intitule_thesaurus,#INFO_TITRE{thesaurus,#ID_THESAURUS}|sinon{<:info_sans_titre:>}})</h1>]
	</div>
	#FORMULAIRE_EDITER_THESAURUS{#ENV{id_thesaurus,oui},#GET{retour}}
</div>
